@model IEnumerable<MyBlog.Core.Models.Post>
@{
    ViewData["Title"] = "Мой блог - Все посты";
}

@section toolbar {
    @if (User.Identity.IsAuthenticated)
    {
        <a class="nav-link text-primary" href="~/Posts/Create">Добавить пост</a>
    }
}

@Html.React("Components.PostsIndex", new {
    initialData = Model
})
