@model IEnumerable<MyBlog.Core.Models.Post>
@{
    ViewData["Title"] = "Мой блог - Все посты";
}

@section toolbar {
    @if (User.Identity.IsAuthenticated)
    {
        <a class="nav-link text-primary" href="~/Posts/Create">Добавить пост</a>
    }
}

<ul class="list-unstyled">
    @foreach (var post in Model)
    {
        <li class="media mb-4">
            <div class="media-body">
                <a class="h5 mt-0 mb-1 d-block" href="~/Posts/Show/@post.Id">@post.Title</a>
                @post.Text
            </div>
        </li>
    }
</ul>